@using autorepairProj.Models;
@using X.PagedList.Mvc.Core;
@using X.PagedList.Web.Common;
@model autorepairProj.ViewModels.PaymentViewModel

@{
    ViewData["Title"] = "Редактирование платежа";
}

<h1>Редактировать</h1>

<h4>Платеж</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="PaymentId" />
            <div class="form-group">
                <label asp-for="StateNumberCar" class="control-label"></label>
                <select asp-for="CarId" class="form-control" asp-items="ViewBag.StateNumberCar"></select>
                <span asp-validation-for="CarId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cost" class="control-label"></label>
                <input asp-for="Cost" class="form-control" />
                <span asp-validation-for="Cost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MechanicFIO" class="control-label"></label>
                <select asp-for="MechanicFIO" class="form-control" asp-items="ViewBag.MechanicFIO"></select>
                <span asp-validation-for="MechanicFIO" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProgressReport" class="control-label"></label>
                <input asp-for="ProgressReport" class="form-control" />
                <span asp-validation-for="ProgressReport" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Вернуться к списку всех платежей</a>
</div>

